body{
    background: #2c2c54;
    font: 12px arial;
}
.container{
    width: 400px;
    height: 200px;
    margin: 200px auto;
    background: #474787;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}
h3{
    border-bottom: 1px dotted #fff ;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
td{
    color: #fff;
    padding: 5px 10px;
}